# ─────────────────────────────
# Terraform
# ─────────────────────────────
.terraform/
*.tfstate
*.tfstate.*
crash.log
.terraform.lock.hcl

# ─────────────────────────────
# Sensitive files
# ─────────────────────────────
*.tfvars
*.tfvars.json

# ─────────────────────────────
# Logs
# ─────────────────────────────
*.log

# ─────────────────────────────
# OS / Editor junk
# ─────────────────────────────
.DS_Store
Thumbs.db
.vscode/
.idea/